{% extends 'baserecepcion.html.twig' %}
{% block style_body %}
  <body>
{% endblock %}

{% block body %}

  <div class="container">
    <h1 class="alert-info"><center>Inicio</center></h1>
    <div class="container">
      <img class="img-responsive" src="{{asset('public/img/imgPres1.jpg')}}">  
    </div>
    
  </div>
	
    
{% endblock %}