{% extends 'baserecepcion.html.twig' %}
{% block style_body %}
  <body>
{% endblock %}

{% block body %}

  <div class="container-fluid">
    <h1 class="alert-info">Reportes</h1>
  </div>

  <div class="container-fluid">
    <center>
      <a class="btn btn-primary btn-lg" href="{{path('reporteFechaelegir')}}">
        <i class="fas fa-file-invoice-dollar"></i> Reporte Ventas
      </a>
      <a class="btn btn-primary btn-lg" href="{{path('reporteListaclientes')}}">
        <i class="fas fa-user-tag"></i> Reporte Clientes
      </a>
    </center>

  </div>
    
{% endblock %}