{% extends 'baserecepcion.html.twig' %}
{% block style_body %}
  <body>
{% endblock %}

{% block body %}

  <div class="container-fluid">
    <h1 class="alert-info">Reportes</h1>
  </div>

  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Socia</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
          <tr>
            <td>{{pedido.Fecha | date('d-m-Y')}}</td>
            <td>{{pedido.Usuariosusuarios.UsNombre}}</td>
            <td>
              {% if pedido.Sociassocias != null %}
                {{pedido.Sociassocias.SocDatos}}
              {% endif %}
            </td>
            <td>
              {{pedido.SaldoSocias}}
            </td>
          </tr>
        {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
	
    
{% endblock %}